.NavItems {
	background-color: transparent;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 100;
	text-align: center;
	width: 100%;

	&.active {
		background-color: #ffffff;
	}

	.nav_menu {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;

		.nav_links {
			display: flex;
			letter-spacing: 0.25rem;
			color: rgb(61, 49, 49);
			text-decoration: none;
			padding: 0.5rem 1rem;
			background-blend-mode: overlay;
			justify-content: center;
			align-items: center;

			img {
				flex-basis: 0%;
				flex-grow: 1;
			}

			&.active {
				color: #b39b42;
				mix-blend-mode: unset;
			}

			&:hover {
				color: #b39b42;
				border-radius: 2px;
				transition: all 0.5s ease-out;
				/* text-decoration: underline; */
				text-shadow: 6px 6px 2px #222;
			}
		}

		.nav_menu_button {
		}
	}
}

.menu_icon {
	display: none;
}

@media screen and (max-width: 1000px) {
	.NavItems {
		position: fixed;
		top: 0;
		background-color: transparent;

		.menu_icon {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			padding-right: 10px;
			padding-top: 10px;
			cursor: pointer;
			z-index: 200;
		}

		.nav_menu {
			background-color: #ffffff;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: fit-content;
			position: fixed;
			top: 0;
			transition: all 0.5s ease-in;
			display: none;

			&.active {
				/* background: transparent; */
				transition: all 0.5s ease-out;
				display: block;
			}

			.nav_links {
				text-align: center;
				padding: 1rem;
				width: 100%;
				// display: table;

				&:hover {
					background-color: #fff;
					border-radius: 0;
				}
			}
			.nav_menu_button {
				position: relative;
				justify-content: center;
				align-items: center;
			}
		}
	}
}
