.nav {
	position: fixed;
	top: 0;
	z-index: 500;
	width: 100%;
	transform: translateX(0px);

	&.active {
		background-color: #ffffff;
	}
	.menu_icon {
		color: #b39b42;
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		padding-right: 10px;
		padding-top: 10px;
		cursor: pointer;
		z-index: 200;
		display: none;
	}

	.nav_container {
		height: 4rem;
		margin: 0 auto;
		max-width: 1400px;
		display: flex;
		justify-content: center;
		align-items: center;

		.nav_menu_link {
			display: flex;
			font-size: 1.5rem;

			.nav_links {
				display: flex;
				letter-spacing: 0.25rem;
				color: #b39b42;
				text-decoration: none;
				padding: 0.5rem 1rem;
				background-blend-mode: overlay;
				justify-content: center;
				align-items: center;
				font-weight: 600;

				&.active {
					color: #b39b42;
					mix-blend-mode: unset;
				}

				&:hover {
					color: #b39b42;
					border-radius: 2px;
					transition: all 0.5s ease-out;
					/* text-decoration: underline; */
					text-shadow: 6px 6px 2px #222;
				}
			}
		}

		.nav-buttons {
			margin-left: auto;
		}
	}
}

@media screen and (max-width: 1000px) {
	.nav_mobile {
		position: fixed;
		top: 0;
		right: 0;
		width: 200px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		padding: 2rem 1rem;
		background-color: #ffffff;
		transform: translateX(200px);
		transition: all 0.5s;

		&.mobile_menu_open {
			transform: translateX(0px);
		}		.menu_icon {
			display: block;
			transform: translateX(-200px);
		}

		.nav_container {
			display: flex;
			flex-direction: column;
			transition: all 0.5s ease-in;

			.nav_menu_link {
				display: flex;
				flex-direction: column;
			}
			.nav_links {
				text-align: center;
				padding: 1rem;
				width: 100%;
				// display: table;

				&:hover {
					background-color: #fff;
					border-radius: 0;
				}
			}
			.nav_menu_button {
				position: relative;
				justify-content: center;
				align-items: center;
			}
		}
	}
}
