.NavItems{
    background: #ffffff;
    height: 60px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 1rem;
    font-weight: bold;
    position: sticky;
    top:0;
    z-index:300;
}

.NavItems.active{
    background: linear-gradient(90deg, rgb(61,49,49) 0%, rgba(49,49,49,1)100%);
}

.nav_menu{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 50px;
    list-style: none;
    text-align: center;
    width:60vw;
    justify-content: center;
    margin-right:1rem;
    margin:0;
}

.nav_links{
    letter-spacing: .25rem;
    color: rgb(61,49,49);
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-blend-mode: overlay;
}
.nav_links.active{
    color: #b39b42;
    mix-blend-mode:unset;
}

.nav_links:hover{
    color: #b39b42;
    border-radius: 2px;
    transition: all 0.5s ease-out;
    /* text-decoration: underline; */
    text-shadow: 6px 6px 2px #222;
}


.menu_icon{
    display: none;
    color: #cfb85b;
}

@media screen and (max-width: 900px){
    .NavItems{
        position: sticky;
        top:0;
    }

    .nav_menu{
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 350px;
        position: absolute;
        top: 60px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease-in;
        grid-gap: 0px;
    }

    .active{
        /* background: transparent; */
        left: 0;
        opacity: 1;
        transition: all 0.5s ease-out;
    }

    .nav_links{
        text-align: center;
        padding:2rem;
        width: 100%;
        display: table;
    }
    .nav_link:hover{
        background-color: #fff;
        border-radius: 0;
    }

    .menu_icon{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(100%,15%);
        font-size: 2rem;
        cursor: pointer;
    }
    .fa-times{
        transform: translate(100%,15%);
        padding-left: 10px;
    }

}





