.special {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2rem;
	max-width: 1400px;
	margin: 0 auto;

	.special-display-container {
		display: grid;
		gap: 2rem 6rem;
	}
}

@media screen and (min-width: 1400px) {
	.special-display-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 1400px) and (min-width: 1000px) {
	.special-display-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 1000px) {
	.special-display-container {
		grid-template-columns: repeat(1, 1fr);
	}
}
