.special-display-container {
	/* grid-template-columns:repeat(3, 30% [col-start]) ; */
	max-width: 1400px;
	margin: 0 auto;
	/* max-width: 1170px; */
	display: grid;
	gap: 4rem 8rem;
	justify-items: center;
	align-items: center;
}

@media screen and (min-width: 1400px) {
	.special-display-container {
		/* width: 95vw; */
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 1400px) and (min-width: 1000px) {
	.special-display-container {
		grid-template-columns: repeat(2, 1fr);
		/* gap: 0 1.25rem; */
		width: 85vw;
	}
}

@media screen and (max-width: 1000px) {
	.special-display-container {
		grid-template-columns: repeat(1, 1fr);
		/* gap: 0 1.25rem; */
		width: 85vw;
	}
}
