.review {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	padding: 1rem;

	.review-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		
		gap: 1rem;
		.review-card {
			border-radius: 1rem;
			box-shadow: rgb(0 0 0 / 10%) 0px 10px 50px;

			.review-text {
				overflow: hidden;
				text-overflow: ellipsis; /* Truncate text with an ellipsis if it overflows */
				display: -webkit-box;
				-webkit-line-clamp: 5; /* Limit the number of lines to show */
				-webkit-box-orient: vertical;
				text-overflow: ellipses;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.review {
		.review-grid {
			grid-template-columns: 1fr;
		}
	}
}
