.map{
  justify-content: center;
  margin-top: -20px;
  height: 500px;
  width: 100%;
}

.mapcontainer{
  justify-content: center;
  margin-top: -20px;
  height: 500px;
  width: 100%;
}

@media screen and (max-width:960px) {
  .map{
    width: 100%;
    height: 100%;
  }
}