/* section */
section {
	/* width: 95vw; */
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 60px;
	background-color: #f2f2f2;

	.menu {
		.menu-container {
			max-width: 1400px;
			margin: 0 auto;
			background-color: #f2f2f2;
			height: 100%;
		}
	}
}
